[submodule "includes/thirdparty/glfw"]
	path = includes/thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "includes/thirdparty/glm"]
	path = includes/thirdparty/glm
	url = https://github.com/g-truc/glm.git
